body {
    font-family: Arial, sans-serif;
    background: #f0f4f8;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* para vertical center */
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.container {
    width: 400px;
    background: #fff;
    padding: 25px;
    border-radius: 15px; /* mas rounded */
    box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
}


        label {
            display: block;
            margin-top: 15px;
            font-weight: bold;
            color: #444;
        }

        input[type="text"],
        input[type="email"] {
            width: 100%;
            padding: 10px;
            margin-top: 6px;
            border: 1px solid #ccc;
            border-radius: 5px;
            transition: border 0.3s;
        }

        input[type="text"]:focus,
        input[type="email"]:focus {
            border-color: #8943fa;
            outline: none;
        }

        input[type="submit"] {
            width: 100%;
            margin-top: 20px;
            padding: 12px;
            background:  #9d60ff;
            border: none;
            border-radius: 5px;
            color: #181111;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;
            transition: background 0.3s;
        }

        input[type="submit"]:hover {
            background: #8943fa;
        }

        .back-link {
            display: block;
            text-align: center;
            margin-top: 15px;
            color: #007bff;
            text-decoration: none;
            font-size: 14px;
        }

        .back-link:hover {
            text-decoration: underline;
        }